<div class="sidebar-author">
  <img src="{{ '/images/bio_photo_01.jpg' | absolute_url }}" alt="Author photo" class="author__avatar">
  <h3 class="author__name">Evgeniy Savchenko</h3>
  <p class="author__bio">Platform Enginer, SRE. Digital nomad 💻🌍🌄</p>
  <ul class="author__urls">
    <li class="author__url">
      <a href="https://github.com/DeV1L" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub
      </a>
    </li>
    <li class="author__url">
      <a href="https://www.linkedin.com/in/esavchenko/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn
      </a>
    </li>
  </ul>
</div>
