---
layout: default
---

<div id="main" class="page-with-sidebar">
  <div class="custom-bio-sidebar-wrapper">
    {% raw %}{% include bio_sidebar.html %}{% endraw %}
  </div>
  <div class="content-area">
    <article class="post h-entry">
      <div class="post-content e-content">
        {% raw %}{{ content }}{% endraw %}
      </div>
    </article>
  </div>

  <div class="custom-sidebar-wrapper">
    <div class="custom-sidebar">
      {% raw %}{% include sidebar.html %}{% endraw %}
    </div>
  </div>
</div>
